@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#0A0A0A] text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  :root {
    --background: 10 10 10;
    --foreground: 255 255 255;
    --border: 42 42 42;
  }
}

